html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--background1, white);
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    url('./fonts/ubuntu-regular-webfont.woff') format('woff');
  font-style: normal;
}

:root {
  --background1: rgb(40, 32, 63);
  --background2: rgb(55, 46, 82);
  --background3: rgb(170, 152, 208);
  --text1: rgb(187, 175, 212);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(187, 175, 212);
  /* font-size: 16px; */ /* Disables browser font size setting */
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text-footer);
}

#container {
  text-align: center;
}

#title {
  font-size: 3rem;
  margin: 0 0 0.5rem 0;
}

body {
  display: grid;
  grid-template: 1fr 2fr 2fr 40px / 1fr 2fr 1fr;
}

#content1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background2);
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(21, 17, 33);
}

#content-container {
  text-align: center;
}

#input2 {
  margin-right: 10px;
  max-width: 75px;
}

#content2 {
  grid-column: 1 / 4;
  grid-row: 3 / 4;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background2);
  border-radius: 5px;
  margin: 10px 100px 50px 100px;
  box-shadow: 5px 5px 5px rgb(21, 17, 33);
}

#map-container {
  display: flex;
}

.empty-array-element {
  background-color: var(--background3);
  height: 40px;
  border: 1px solid var(--background2);
  border-radius: 3px;
}

.linked-list-node {
  background-color: var(--background3);
  height: 40px;
  border: 1px solid var(--background2);
  border-radius: 3px;
}

.linked-list-node > p {
  font-size: 0.8rem;
  margin: 3px;
  overflow: hidden;
  text-wrap: nowrap;
}

#text-container {
  text-align: center;
}

#result-text {
  color: var(--text1);
}

footer {
  grid-column: 1 / 4;
  grid-row: 4 / 5;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  font-size: 1rem;
  color: var(--text-footer);
}
